@mixin ellipsis($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $lines==1 {
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }
}